body {
  font-family: "Inria Serif";
  background-color: #f8f9fa;
  color: #333;
  margin: 0;
  padding: 20px;
}

h1 {
  color: #31487A;
  margin-bottom: 20px;
}

input {
  padding: 8px;
  width: 250px;
  margin-right: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 8px 12px;
  border: none;
  background-color: #31487A;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #1E2E4F;
}

#lista {
  margin-top: 20px;
}

.aluno {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 8px 0;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.2s;
  display: flex;
  align-items: center;
}

.aluno:hover {
  background-color: #eef2ff;
}

.medalha {
  margin-right: 10px;
  font-size: 18px;
  color: gold;
}

#detalhes {
  margin-top: 20px;
  padding: 15px;
  border-radius: 5px;
  background-color: white;
  border: 1px solid #ddd;
}

#detalhes h2 {
  color: #31487A;
}

#voltar {
  margin-top: 10px;
  background-color: #888;
  color: white;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

#voltar:hover {
  background-color: #555;
}

#lista, #inputBuscar, #btnBuscar, #btnResetar {
  transition: opacity 0.3s ease;
}